.contact-page-container {
    display: flex;
}

.contact-page-btns-container {
    padding: 20px;
}

.contact-page-top {
    width: 93vw;
    box-sizing: border-box; 
    padding: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-img {
    width: 100px;
}

.contact-page-name-container {
    display: flex;
    align-items: center;
}

.contact-page-name {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.contact-page-right button {
    width: 120px;
    height: 40px;
}

.delete-div {
    height: 300px;
    width: 300px;
    background-color: #12344D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.delete-div button {
    margin-top: 10px;
}

.delete-btn {
    position: absolute;
    top: 1%;
    right: 3%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.delete-btn:hover {
    cursor: pointer;
}