.contact__container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 25px;
  margin: 6px auto;
  width: 80vw;
}

.contact-name-container {
    display: flex;
    align-items: center;
}

.contact-name {
  display: flex;
  align-items: left;
  justify-content: center;
  width: 120px;
}

.contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
}

.contact-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
