.response-container {
    width: 63vw;
    height: 350px;
    background-color: #F4F7F8;
    border-radius: 6px;
    padding: 50px;
    box-sizing: border-box;
    margin: 50px auto;
}

.hidden {
    background-color: #FDF0E0 !important;
}

.response-content {
    background-color: #F4F7F8;
    border: none;
}

#content {
    padding: 20px;
}
