a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EBEFF3;
}

.btn-color {
  background-color: #12344D;
  padding: 8px;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  margin: 2px;
}

.btn-light {
  /* background-color: #EAEDF0; */
  padding: 8px 10px;
  border: 0.5px solid grey;
  border-radius: 4px;
  margin: 2px;
  background-color: #f9fcff;
  font-size: 12px;
}

.btn-light:hover {
  cursor: pointer;
}

.btn-color:hover {
  cursor: pointer;
}

.btn {
  padding: 6px 10px;
  background-color: #EAEDF0;
  border: 0.5px solid grey;
  border-radius: 4px;
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
}